// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "complexity-component";
@import "partials/chat";
@import "AuthComponent/auth-component";
@import "LeaderBoardComponent/leader-board-component";
@import "ListOfLevelsComponent/list-of-levels-component";
@import "Navmenu/navmenu";
@import "LevelComponent/level-component";
@import "QuestionComponent/question-component";

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #222831;
}

::-webkit-scrollbar-thumb {
    background-color: #8D9091;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(#8D9091, 0.8);
}
