// Не забываем про импорт переменных
@import 'variables';

.template-page {
        .content-header {
            font-family: $secondary-font-family;
            font-size: 60px;
            font-weight: 600;
            text-align: center;

            &__text-wrapper {
                display: block;
            }

            &__text {
                margin-top: 10px;
                font-size: 28px;
                line-height: 45px;
                font-weight: 800;
                text-align: center;

                a {
                    color: $primary-text-color;
                    text-decoration-color: $primary-text-color;
                }
            }
        }

        .difficult {
            margin-top: 110px;
            margin-bottom: 120px;

            .difficult-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @media (max-width: 1240px) {
                    flex-direction: column;
                }
            }

            &__button {
                border-radius: 33px;
                box-shadow: 15px 13px 4px #4C3375;
            }

            &__button-content {
                display: flex;
                flex-direction: column;
                padding: 0 55px 20px 55px
            }

            &__button-header {
                padding-top: 32px;
                font-family: $primary-font-family;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
            }

            &__button-text {
                padding-top: 15px;
                width: 300px;
                font-size: 21px;
                align-self: center;
                font-weight: 600;
                line-height: 28px;
            }

            &__life-block {
                padding-top: 30px;
            }

            &__life {
                width: 75px;
                margin-left: 10px;
            }

            &__cat {
                align-self: center;
                padding-top: 48px;
                width: 200px;
            }

            .start {
                background-color: $base-color;
            }

            .medium {
                background-color: $cool-color;
            }

            .hard {
                background-color: $cosmo-color;
            }
        }
    }

    .container-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            padding: 20px 40px;
        }

        button {
            &.send {
                padding: 5px;
            }
        }

    }

    .container-header + hr {
        width: 100%;
    }

    .active {
        border: 8px solid pink;
    }

    .site-footer {
        background-color: #26272b;
        padding: 45px 0 10px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }

.rules {
    background-color: white;
    margin-bottom: 200px;

    &__wrapper {
        margin-left: 120px;
        margin-right: 120px;
        padding-top: 210px;
    }

    &__header {
        font-family: $secondary-font-family;
        font-weight: 1000;
        font-size: 100px;
        line-height: 115px;
        color: $primary-background-color;
    }

    .secondary {
        font-weight: 800;
        font-size: 75px;
    }

    &__text-wrapper {
        margin-top: 42px;
        margin-bottom: 60px;
    }

    &__text {
        font-weight: 400;
        font-size: 36px;
        line-height: 125%;

        + p {
            margin-top: 35px
        }
    }

    &__life-content {
        display: flex;
        justify-content: space-evenly;
    }

    &__life-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__life {
        margin-left: 10px;
    }

    &__life-small {
        width: 75px;
    }

    &__modificator {
        font-family: $primary-font-family;
        font-weight: 500;
        font-size: 72px;
        line-height: 86px;
        text-align: center;
    }

    &__modificator-label {
        font-family: $secondary-font-family;
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
    }

    &__ending {
        display: block;
        margin-top: 68px;
        margin-bottom: 80px;
        text-align: center;
        font-family: $primary-font-family;
        font-weight: 600;
        font-size: 48px;
        line-height: 125%;
        color: $primary-background-color;
    }

    &__ending-button {
        position: relative;
        padding: 30px 70px 30px 70px;
        top: 68px;
        background: $cool-color;
        border-radius: 32px;
        font-weight: 600;
        font-size: 45px;
        line-height: 72px;
        text-align: center;
    }
}
