@font-face {
    font-family: 'Exo2';
    src: local('Exo2'),
    url(resources/fonts/Exo2/Exo2Bold.ttf);
}
@font-face {
    font-family: 'RobotoFlex';
    src: local('RobotoFlex'),
    url(resources/fonts/RobotoFlex/RobotoFlex.ttf);
}
