@import 'variables';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 120px;
        line-height: 144px;

        color: #FFFFFF;
    }

    &__text {
        margin: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;

        color: #FFFFFF;
    }

    &__leaderboard {
        margin: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        text-decoration: underline;
        color: #FFFFFF;
        cursor: pointer;
    }

    &__img {
        width: 20%;
        align-self: center;
    }

    &__try-again{
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        text-decoration-line: underline;

        color: #FFFFFF;
        margin-bottom: 40px;
    }

    &-gameover {
        left: 715px;
        top: 1516px;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
        text-align: center;
        color: #FFFFFF;
        background: #FF91AB;
        box-shadow: inset -9px -10px 3px rgba(0, 0, 0, 0.25);
        border-radius: 43px;
        padding: 10px 40px 10px 40px;
        margin-top: 24px;
        margin-bottom: 24px;
        align-self: center;
    }
}

