// Не забываем про импорт переменных
@import 'variables';

.template-page {
    .choose-difficult {
        margin-top: 198px;

        .content-header {
            font-family: $secondary-font-family;
            font-size: 124px;
            font-weight: 600;
            text-align: center;

            &__text-wrapper {
                margin-left: 300px;
                margin-right: 300px;
            }
            &__text {
                margin-top: 45px;
                font-size: 54px;
                line-height: 75px;
                font-weight: 400;
                text-align: center;

                a {
                    color: $primary-text-color;
                    text-decoration-color: $primary-text-color;
                }
            }
        }

        .difficult {
            margin-top: 120px;
            background-color: red;

            .difficult-wrapper {
                display: flex;
                flex-direction: column;
            }

            &__button {
                margin-left: 140px;
                margin-right: 140px;

            }

            .start {
                margin-top: 90px;
                background-color: #73F4DB;
            }

            .medium {
                background-color: #FF91AB;
            }

            .hard {
                background-color: #4C3375;
            }
        }
    }

    .container-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            padding: 20px 40px;
        }

        button {
            &.send {
                padding: 5px;
            }
        }

    }

    .container-header + hr {
        width: 100%;
        /*//align: center; text-align center??????*/
    }

    .site-footer {
        background-color: #26272b;
        padding: 45px 0 10px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }
}
