@import "resources/sass/_variables.scss";

.test-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CB9FFF;
    height: 180px;

    &__img {
        margin-top: -30px;
        height: 250px;
        margin-right: 260px;
    }

    &__title {
        font-family: $primary-font-family;
        font-size: 70px;
        line-height: 80px;
        font-weight: bold;
        margin-left: 260px;
        display: flex;
        align-items: center;
        color: #4C3375;
    }
}
